.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
  z-index: 1000;
}

.cursor.hovered {
  width: 50px;
  height: 50px;
}

.stroked-text {
  -webkit-text-stroke: 0.8px #aab2d1;
}

.underline-hover {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 2px;
}

.underline-hover::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: #aab2d1;
  transform-origin: bottom left;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.underline-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.light .underline-hover::after {
  background-color: #90754c;
}

/* --- Theme Styles --- */

body.light {
  background-color: #9fb389;
}

.light .doings {
  color: #18181b;
  font-weight: 500;
}

.light .stroked-text {
  -webkit-text-stroke-color: #18181b;
  -webkit-text-stroke-width: 0.6px;
  font-weight: 600;
}

.light .cursor {
  background-color: #e5d2b8;
}

.light .menu-overlay {
  background-color: #9f9e9d;
}

.light .menu-overlay p,
.light .menu-overlay .numbers {
  color: #18181b;
}

.light .social-media {
  color: #18181b;
}

.light .text-\[\#aab2d1\] {
  color: #90754c;
}

.light .dynamic-text {
  color: #18181b;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 21s linear infinite;
  will-change: transform;
}

.marquee-track:hover {
  animation-play-state: paused;
}

.marquee-text {
  transition: color 0.3s;
  color: #aab2d1;
}

.marquee-track:hover .marquee-text {
  color: whitesmoke;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
