.hamburger-btn span {
  display: block;
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
}



.hamburger-btn.open span {
  opacity: 0;
}

.hamburger-btn::before,
.hamburger-btn::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: white;
  top: 50%;
  left: 10%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

.light .hamburger-btn.open::before,
.light .hamburger-btn.open::after {
    background-color: black;
}

.hamburger-btn.open::before {
  opacity: 1;
  transform: rotate(45deg);
}

.hamburger-btn.open::after {
  opacity: 1;
  transform: rotate(-45deg);
}

.light .hamburger-btn::before,
.light .hamburger-btn::after {
  background-color: black;
}

.menu-overlay .numbers {
    font-size: clamp(20px, 2vw, 23px);
    margin-right: 8px;
}

.menu-overlay .scale {
  transform: scaleX(1.5);
  padding: 0px 4px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.menu-overlay p:hover .scale {
  transform: scaleX(1);
  padding: 0;
}
